
.title-banner {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 50px 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    box-shadow: 0px 0px 50px black;

    .banner-text {
        color: white;
        letter-spacing: 1.8rem;
        text-shadow: 0px 0px 16px black;
        font-size: 3rem;
        @include phone {
        letter-spacing: 0.8rem;
        text-align: center;
        }
    }
}