.carousel-img {
  width: 100%;
  height: 90.4vh;
  margin-bottom: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 50px black;
  @include large {
    height: 600px;
  }
  @include tablet {
    height: 400px;
  }
  @include phone {
    height: 300px;
  }
}

.carousel-text {
  position: absolute;
  right: 0;
  bottom: 70px;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.carousel-genre {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  letter-spacing: 0.1rem;
}

.carousel-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-shadow: 1px;
}

.home-carousel-container {
  width: 80%;
  margin: 0 auto;

.small-carousel {
  width: 100%;
  margin: 0 auto 230px auto;
  height: 200px;

  .small-carousel-genre {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 2.7rem;
    margin-left: 1.4%;
    letter-spacing: 0.4rem;
    color: white;
    text-shadow: 2px 2px 4px black;
  }

  .slider-img {
    width: 100% !important;
    margin: 0 10px 0 30px;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-content: center;
    opacity: 0.8;
    transform: scale(0.9);
    transition: all .5s ease-in-out;

    &:hover {
      opacity: 1.0;
      transform: scale(1);
    }
    
    
    a {
      text-decoration: none;
    }

    .svg-container {
      position: absolute;
      top: 20px;
      opacity: 0.8;
      height: 20px;
      width: 0.6%;
      display: flex;
      align-items: center;
      background: black;
      width: 60px;
      

      .SVG {
        position: absolute;
        top: 2px;
        left: 3px;
        background: black;
        width: 23px;
      }

      .svg-text {
        color: white;
        font-size: 0.8rem;
        margin-left: 50%;
      }
    } // end of svg-container

    .poster-img-carousel {
      border-radius: 6px;
      box-shadow: 0px 1px 17px black;
      transition: all .5s ease-in-out;
      &:hover {
        box-shadow: 0px 1px 25px black;
      }
    }
    
  }
    width: 100%;

  } // end of slider-img
  
  .cast-img {
    width: 100% !important;
    margin: 0 10px 0 30px;
    height: 194px;
    display: flex;
    flex-direction: column;
    align-content: center;
    opacity: 0.7;
    transition: all .7s ease-in-out;

    &:hover {
      opacity: 1.0;
    }

    a{
      text-decoration: none;
    }

    .cast-img-carousel {
      border-radius: 6px;
      box-shadow: 0px 1px 17px black;
      width: 60%;
    }

    .cast-text-carousel {
      color: darkgrey;
      margin-top: 15px;
      width: 60%;
      font-size: 0.8rem;
      word-spacing: 0;
      text-align: center;
      text-decoration: none;
    }
  }

} // End of small-carousel

