.separator {
  height: 1px;
  background-color: #e6e6e6;
  margin: 90px auto;
  box-shadow: 0px 0px 15px white;
  width: 30%;
  
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;

  .page-button-1 {
    border: none;
    background: #007bff;
    width: 160px;
    color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 0px 184px black;
  }
  .page-button-2 {
    margin-left: 1rem;
    border: none;
    background: #007bff;
    width: 160px;
    color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 0px 184px black;
  }
} // end of button container

.movie-poster-container {
  width: 100%;
  margin: 0 auto 10% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include phone {
    flex-direction: column;
    align-items: center;

  }


  .movie-poster {
    display: flex;
    flex-direction: column;
    width: 154px;
    margin: 20px 3.5%;
    @include phone {
      align-items: center;
      width: 70%;
      margin: 20px 0
    }

    .poster-img-carousel {
      border-radius: 6px;
      box-shadow: 0px 1px 17px black;
      height: 231px;
      display: flex;
      align-items: center;
      text-align: center;
      color: lightgrey;
      @include phone {
        height: 100%;
        margin-bottom: 10px;
      }
    }

    .movie-poster-title {
        color: white;
        text-shadow: 1px 1px 4px black;
        margin: 5px 0 5px 0;
        word-spacing: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
       @include phone {
        text-align: center;
       }
    }

    .movie-poster-genre {
      color: #aab2bb;
      text-shadow: 1px 1px 4px black;
      font-size: 0.8rem;
      margin: 5px 0;
    }

  } // end of movie poster

} // end of movie-poster-container
