
  
  .nav-bar-container {
    background: rgb(93,93,93);
    background: linear-gradient(180deg, rgb(55, 55, 55) 0%, rgba(0,0,0,1) 90%);

  .nav-item {
    list-style: none;
  }
  .nav-bar-brand {
    width: 50px;
    border-radius: 50%;
  }

  .nav-bar-search {
    width: 290px;
    border-radius: 18px;
    padding: 5%;
    height: 40px;
    background: #252525;
    border: none;
    color: white;
    font-size: 0.9rem;
  }


  

} // End of nav-bar-container


