
  
  .nav-bar-container {
    background: rgb(172, 54, 54);
    background: linear-gradient(-1deg, #a68ae6 -300%, black 66%);

    @include tablet {
      
    }

  .nav-item {
    list-style: none;
  }
  .nav-bar-brand {
    width: 50px;
    border-radius: 50%;
  }

  .nav-bar-search {
    width: 290px;
    border-radius: 18px;
    padding: 5%;
    height: 40px;
    background: #252525;
    border: none;
    color: white;
    font-size: 0.9rem;
  }


  

} // End of nav-bar-container


